@import url('https://rsms.me/inter/inter.css');

:root {
    --font-main: "Inter var", sans-serif;
    --font-mono: "Courier Prime", monospace;
    --font-header: var(--font-mono);

    --color-background: #FAFAFA;
    --color-foreground: #212121;
    --color-page-bg-out: #006064;
    --color-page-bg-in: #00BCD4;
    --color-card-background: var(--color-background);
    --color-card-header: #e0e0e0;
    --color-accent: #FF5722;
    --color-link: var(--color-accent);
    --color-table-head: #eeeeee;
    --color-table-border: #e0e0e0;
    
    --shadow: 0 8px 32px rgba(0, 0, 0, .5);

    font-family: var(--font-main);
    font-size: 16px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #212121;
        --color-foreground: #fafafa;
        --color-page-bg-out: var(--color-background);
        --color-page-bg-in: #006064;
        --color-card-header: #424242;
        --color-table-head: #616161;
        --color-table-border: #424242;
    }
}

body {
    margin: 0;
    background-color: var(--color-page-bg-out);
    background-image: radial-gradient(at center, var(--color-page-bg-in), var(--color-page-bg-out));
    background-attachment: fixed;
}

a {
    color: var(--color-link);
}

h1, h2, h3, h4, h5, h6 {
    font-style: oblique;
    /* text-transform: uppercase; */
    font-weight: 900;
}

/* tables */

table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
}

table thead {
    background: var(--color-table-head);
}

table th {
    text-align: left;
    border: 1px solid var(--color-table-border);
    border-top: none;
    border-bottom: none;
    padding: 4px 8px;
}

table td {
    border: 1px solid var(--color-table-border);
    border-top: none;
    border-bottom: none;
    padding: 4px 8px;
}

table th:first-child,
table td:first-child {
    border-left: 0;
    padding-left: 16px;
}

table th:last-child,
table td:last-child {
    border-right: 0;
    padding-right: 16px;
}

/* container */

.container {
    min-width: 300px;
    width: 80vw;
    max-width: 768px;
    margin: auto;
}

/* card basics */

.card {
    display: block;
    margin-top: 1em;
    background: var(--color-card-background);
    color: var(--color-foreground);
    box-shadow: var(--shadow);
    border-radius: 8px;
    overflow: hidden;
}

.card:last-of-type {
    margin-bottom: 1em;
}

.card header {
    padding: 8px 16px;
    font-family: "Courier Prime", monospace;
    font-size: 12px;
    /* font-weight: bold; */
    /* text-transform: uppercase; */
    background: var(--color-card-header);
}

.card .contents {
    padding: 8px 16px;
    margin: 0;
}

.card .contents:nth-child(2) {
    padding-top: 16px;
}

.card .contents:last-child {
    padding-bottom: 16px;
}

/*  */

body > header {
    display: block;
    text-align: center;
    color: #fafafa;
    padding: 5vh 0;
    font-weight: 500;
    text-shadow: var(--shadow);
}

body > header a {
    color: unset;
}

body > header h1 {
    /* font-size: 5em; */
    margin-bottom: 0;
}

@media only screen and (min-width: 640px) {
    body > header {
        padding: 10vh 0;
    }

    body > header h1 {
        font-size: 5em;
    }
}

/* query form */

#query-form {
    display: flex;
}

#query-form input {
    flex-grow: 1;
    flex-shrink: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    appearance: none;
    border: none;
    font: unset;
    padding: unset;
    background: unset;
    font-family: "Courier Prime", monospace;
    padding: 8px 16px;
    min-width: 0;
    color: unset;
}

#query-form input:invalid {
    font-family: unset;
}

#query-form button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    font: unset;
    padding: unset;
    background: #E64A19;
    color: white;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color .1s;
}

#query-form input:invalid + button {
    background: gray;
}

/* query error and response */

#query-error,
#query-response {
    display: none;
}

#query-error {
    background: #f44336;
    color: #ffebee;
}

#query-error header {
    background: #b71c1c;
}

/* database view */

#database-view {
}

#database-view #database-view-selector {
    /* -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none; */

    width: 100%;
    font: unset;
    border: none;
    border-bottom: 1px solid var(--color-table-border);
    padding: 8px 16px;
    margin: 0;
    color: unset;
    background: var(--color-card-header);
}

/*  */

table .db-number {
    text-align: right;
}

/* reference */

#reference li {
    font-family: "Courier Prime", monospace;
}
